#count{
    color: blueviolet;
    display: flex;
    justify-content: center;
}
.container{
    
    width: 35%;
}
#number{
    font-size: 80px;
    display: flex;
    justify-content: center;    
}
.button{
    
    display: flex;
    justify-content: space-evenly;

}